* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(243, 243, 250);
  text-align: center;
  border-radius: 50%;
}

body {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*background-image: url(img/esan.jpg);
  background-color: hsla(342, 83%, 35%, 0.562);*/
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(275, 68%, 25%, 0.479), hsla(350, 81%, 42%, 0.445)),url(img/esan.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
 /* border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;*/ 
  
  outline: none;
  border: 1px solid rgb(0, 141, 235);
  background-color: #6872cc;
  border-radius:  6px;
  color: rgb(234, 240, 243);
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  transition: all .25s;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.btn:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  border-radius: 6px;
  background-image: linear-gradient(to right, rgb(23,228,243), rgb(0,141,135));
  transition: all .25s;
  z-index: -1;
}

.btn:hover{
  border: 1px solid transparent;
  color: rgb(141, 49, 49);
}

.btn:hover::before{
  height: 100%;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}
